@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@mixin circle-img {
  border-radius: 50%;
  background-color: #facc15;
}

@mixin card {
  padding: 18px 24px 12px;
  background-color: #fff;
  border-radius: 12px;
  width: 380px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 1fr;
  line-height: 1.2;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

@mixin svg {
  width: 24px;
  height: 24px;
  color: #111;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
}

body {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: #fff;
}

.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 280px 1fr;
  grid-template-rows: 150px 1fr;
}

.user-img {
  height: 38px;
  width: 38px;
  @include circle-img;
}

.header {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: repeat(2, 1fr);

  grid-column: 2 / 3;
  grid-row: 1;

  padding: 14px 52px;
  background-color: #fff;

  filter: drop-shadow(1px 8px 5px rgba(0, 0, 0, 0.07));

  & svg {
    width: min(24px, 100%);
    height: min(24px, 100%);
    stroke: #111;
  }

  & .header-searchbar {
    display: grid;
    align-content: center;
  }

  & .search {
    display: flex;
    gap: 12px;
    align-items: center;

    & .header-searchbar-input {
      width: 80%;
      border-radius: 20px;
      border: 0;
      outline: 0;
      padding: 8px 14px;
      background-color: #e2e8f0;
    }
  }
  & .header-userbar-box {
    display: grid;
    grid-column: 2 / -1;
    grid-row: 1 / 1;
    align-content: center;
    justify-content: center;

    & .userbar-item {
      display: flex;
      gap: 24px;
      align-items: center;
      & .notification {
        width: 24px;
        height: 24px;
      }
      & span:nth-last-child(1) {
        font-weight: 600;
        font-size: 18px;
      }
    }
  }
  & .header-userinfo {
    display: flex;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    align-items: center;
    gap: 12px;
    & .user-img-info {
      @include circle-img;
      width: 64px;
      height: 64px;
    }
    & p span {
      font-size: 14px;
    }
    & p {
      font-size: 22px;
      font-weight: 600;
    }
  }
  & .header-btns {
    display: flex;
    gap: 18px;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    align-self: center;
    justify-content: start;

    & .btn {
      padding: 10px 30px;
      border-radius: 30px;
      border: none;
      outline: none;
      cursor: pointer;
      background-color: #1a92d4;
      color: #fff;
      font-size: 14px;
    }
  }
}

.sidebar {
  grid-column: 1 / 2;
  grid-row: 1 / 3;

  padding: 12px 42px 12px 18px;
  color: #fff;
  background-color: #1a92d4;

  filter: drop-shadow(4px 0px 4px rgba(0, 0, 0, 0.07));

  &-title {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    cursor: default;
    & svg {
      height: 64px;
      width: 64px;
    }
    & h1 {
      font-size: 1.6rem;
    }
  }
  &-nav {
    padding-left: 12px;
    font-size: 1.1rem;
    & ul {
      display: grid;
      row-gap: 20px;
    }
    & svg {
      height: 24px;
      width: 24px;
    }
    & li {
      & a {
        display: inline-flex;
        gap: 18px;
        align-items: center;
      }
    }
  }
  & .nav-1 {
    margin-top: 42px;
  }
  & .nav-2 {
    margin-top: 62px;
  }
}

.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50px 1fr;
  background-color: #e2e8f0;
  padding: 24px 42px;

  & svg {
    @include svg;
  }

  & .cards {
    display: grid;
    grid-template-columns: min-content min-content;

    gap: 24px;

    grid-column: 1;
    grid-row: 2 / 3;
    & .card {
      @include card;
      &:active {
        cursor: grabbing;
        user-select: none;
      }
      & h3 {
        margin-top: 12px;
      }
      & p {
        color: #979797;
      }
      &-links {
        display: flex;
        gap: 18px;
        justify-self: end;
        align-self: center;
      }
      & h3 {
        margin-bottom: 6px;
      }
    }
  }

  & .right-main-block {
    display: grid;
    grid-template-rows: 50px 1fr;

    grid-column: 2 / 3;
    grid-row: 1 / 3;

    justify-self: center;
    width: 300px;

    & h2 {
      margin-bottom: 12px;
    }

    & .announcements {
      margin-bottom: 24px;
      & .announcements-block {
        background-color: #fff;
        padding: 12px 32px;
        border-radius: 12px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        & .anno-wrapper {
          border-bottom: 1px solid #d4d4d4;
          padding: 16px 0px;
          &:last-child {
            border-bottom: 0;
          }
          & h3 {
            font-size: 16px;
            margin-bottom: 4px;
          }
          & p {
            font-size: 14px;
            color: #979797;
          }
        }
      }
    }
  }

  & .trending {
    & .trending-block {
      display: grid;
      // justify-content: center;
      background-color: #fff;
      padding: 28px 24px;
      border-radius: 12px;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      & p {
        font-size: 14px;
        color: #979797;
      }
      & .trending-wrapper {
        display: flex;
        gap: 24px;
        align-items: center;
        margin-bottom: 18px;
        &:last-child {
          margin-bottom: 0;
        }
        & .trending-user-img {
          width: 38px;
          height: 38px;
          display: inline-block;
          @include circle-img;
        }
        & span {
          color: #111;
        }
      }
    }
  }
}
